<!DOCTYPE html>
<html>
<head>
    <title>Coder</title>
    <meta charset="utf-8">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="../../../assets/stylesheets/index.css" media="screen" rel="stylesheet" type="text/css"/>
    <link href="../static/css/index.css" media="screen" rel="stylesheet" type="text/css"/>
    <script src="../static/js/index.js"></script>
</head>
<body class="">
    <div class="pagecontent">

    <div class="main">

    <div id="stamp">
    <p><img src="../static/media/stamp.jpg" alt="stamp"/></p>
    </div>

    <div class="title">
    <p><img src="../static/media/rogo.png" alt="title"/></p>
    </div>


　　　　　<p><img src="../static/media/completion3.jpg" alt="completion."/></p>
　　　　　
　　　　　<div class="time">
　　　　　<p><img src="../static/media/time.png" alt="time"/></p>
          </div>

<div id="zairyou">
　　　　　<p><img src="../static/media/zairyo.png" alt="zairyo"/></p>
</div>

   <div class="zairyou2">
　　<ul>
　　<font color="#514540">
    　　　　<li>ホットケーキミックス：200g</li>
    　　　　<li>卵：1個</li>
    　　　　<li>牛乳：100cc</li>
    　　　　<li>スライスベーコン：2枚</li>
    　　　　<li>玉ねぎ：小1/2</li>
    　　　　<li>マヨネーズ：適量</li>
    　　　　<li>ピーマン：1個</li>
    </font>
    </ul>
    </div>

    <div class="howto">
    <p><img src="../static/media/ingredients_3.jpg" alt="ingredients"/></p>
　　</div>
　　
　　<p><img src="../static/media/how-to.png" alt="how to"/></p>
　　<ol><font color="#514540">
　　　　<li>ホットケーキミックス、卵、牛乳を入れ、よく混ぜます。
　　　　<div class="pict1"><img src="../static/media/recipe_1_3.jpg" alt="recipe_1"/></div></li>
　　　　<li>ベーコンは、幅２mmに切り、ピーマン、玉ねぎはスライスします。
　　　  <div class="pict2"><img src="../static/media/recipe_2_3.jpg" alt="recipe_2"/></div></li>
　　　　<li>アルミカップに１を流し込み、ピーマン、玉ねぎ、ベーコンを乗せ、<br>マヨネーズを適量かけます。
　　　　<div class="pict3"><img src="../static/media/recipe_3_3.jpg" alt="recipe_3"/></div></li>
　　　　<li>１８０度に予熱したオーブンに、２０分焼きます。</li><br><br>
　　　　<li>アルミカップをはずし、お皿に盛って出来上がり。</li>
    </font>
    </ol>

    <div class="point">
    <p><img src="../static/media/point.png" alt="point"/></p>
    </div>

    <div class="point2">
    <ul><font color="#514540">
    　　　　<li>生地をよく混ぜる！</li>
    　　　　<li>具材はお好みに応じてアレンジしてください</li>
　　</font>
　　</ul>
　　</div>
　　
    　</div>
</body>
</html>