body{
    background-color:#faf0e4;
}


li{
    font-weight:bold;
    margin-left:150pt;
}

.main{
  
    width:640px;
    margin-left:auto;
    margin-right:auto;
    }

.material{
    margin-top:70px;
}




h3{
    background:#ffffff     
}
    
    
    
h2{
    background-color:#ffffff;
   }


h1{    
    font-size:20px;  
}



 