<!DOCTYPE html>
<html>
<head>
    <title>Coder</title>
    <meta charset="utf-8">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="../../../assets/stylesheets/index.css" media="screen" rel="stylesheet" type="text/css"/>
    <link href="../static/css/index.css" media="screen" rel="stylesheet" type="text/css"/>
    <script src="../static/js/index.js"></script>
</head>
<body class="">
    <div class="pagecontent">
        <div class="main">

            <img src="../static/media/title.png">


    <h2>材料</h2>

            <div class="material">

                <div class="box cf">
                   <div class="box-left">
                    <img src="../static/media/material.png">
                   </div>
                   <div class="box-right">

                         食パン　　　　一切<br>
                         卵　　　　　　一個<br>
                         ベーコン　　　少々<br>
                         マヨネーズ　　少々

                   </div>
                </div>

            </div><!-- /.materials -->

    <h2>つくりかた</h2>

            <div class="steps">

                <div class="box cf">
                    <div class="box-left">
                    1.さあ耐熱皿に　ひときれのパン
                    </div>
                    <div class="box-right">
                    <p><img src="../static/media/recipe_1.png" alt="recipe_1"></p>
                    </div>
                </div>

                <div class="box cf">
                    <div class="box-left">
                    2.食パンの縁にマヨネーズ　かけまして
                    </div>
                    <div class="box-right">
                    <p><img src="../static/media/recipe_02.png" alt="recipe_02"></p>
                    </div>
                </div>

                <div class="box cf">
                    <div class="box-left">
                    3.父さんが残した　卵を割って
                    </div>
                    <div class="box-right">
                    <p><img src="../static/media/recipe_03.png" alt="recipe_03"></p>
                    </div>
                </div>

                <div class="box cf">
                    <div class="box-left">
                    4.母さんがベーコン　白身にのせて
                    </div>
                    <div class="box-right">
                    <p><img src="../static/media/recipe_04.png" alt="recipe_4"></p>
                    </div>
                </div>

                <div class="box cf">
                    <div class="box-left">
                    5.地球はまわる　黄身に穴をあけ<Br>
                    <div class="two">
                      電子レンジ　500ｗ
                    </div>
                    </div>
                    <div class="box-right">
                    <p><img src="../static/media/recipe_05.png" alt="recipe_5"></p>
                    </div>
                </div>

                <div class="box cf">
                    <div class="box-left">
                    6.地球はまわる　3分から5分
                    </div>
                    <div class="box-right">
                    <p><img src="../static/media/recipe_06.png" alt="recipe_6"></p>
                    </div>
                </div>

                <div class="box cf">
                    <div class="box-left">
                    7.いつかきっと出来る　ぼくらのごはん
                    </div>
                    <div class="box-right">
                    <p><img src="../static/media/recipe_07.png" alt="recipe_7"></p>
                    </div>
                </div>

            </div><!-- /.steps -->

        </div><!-- .main -->
   </div><!-- /.pagecontent -->
</body>
</html>