html, body {
    background-image: url('../media/0.jpg');
    background-attachment: fixed;
    background-position: center;
}

.frame {
    display: none;
}

.scene {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    /*background-size: contain;*/
    /*background-size: cover;*/
    background-attachment: fixed;
    background-position: 50% 50%;
    display: none;
}

.f1 {background-image: url('../media/1.png'); display: block;}
.f2 {background-image: url('../media/2.png');}
.f3 {background-image: url('../media/3.png');}
.f4 {background-image: url('../media/4.png');}
.f5 {background-image: url('../media/5.png');}
.f6 {background-image: url('../media/6.png');}
.f7 {background-image: url('../media/7.png');}
.f8 {background-image: url('../media/8.png');}
.f9 {background-image: url('../media/9.png');}
.f10 {background-image: url('../media/10.png');}
.f11 {background-image: url('../media/11.png');}
.f12 {background-image: url('../media/12.png');}
.f13 {background-image: url('../media/13.png');}
.f14 {background-image: url('../media/14.png');}
.f15 {background-image: url('../media/15.png');}
.f16 {background-image: url('../media/16.png');}
.f17 {background-image: url('../media/17.png');}
.f18 {background-image: url('../media/18.png');}
.f19 {background-image: url('../media/19.png');}
.f20 {background-image: url('../media/20.png');}
.f21 {background-image: url('../media/21.png');}
.f22 {background-image: url('../media/22.png');}
.f23 {background-image: url('../media/23.png');}
.f24 {background-image: url('../media/24.png');}
.f25 {background-image: url('../media/25.png');}
.f26 {background-image: url('../media/26.png');}
.f27 {background-image: url('../media/27.png');}
.f28 {background-image: url('../media/28.png');}
.f29 {background-image: url('../media/29.png');}
.f30 {background-image: url('../media/30.png');}
.f31 {background-image: url('../media/31.png');}
.f32 {background-image: url('../media/32.png');}
.f33 {background-image: url('../media/33.png');}
.f34 {background-image: url('../media/34.png');}
.f35 {background-image: url('../media/35.png');}


