<!DOCTYPE html>
<html>
<head>
    <title>Coder</title>
    <meta charset="utf-8">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="../../../assets/stylesheets/index.css" media="screen" rel="stylesheet" type="text/css"/>
    <link href="../static/css/index.css" media="screen" rel="stylesheet" type="text/css"/>
    <script src="../static/js/index.js"></script>
</head>
<body class="">
    <div class="pagecontent">

    <div class="main">

        <div class="logo">
            <img src="../static/media/caprese-logo_03.png" alt="caprese-logo_03.png"/><br><br>
        </div>

            <p><img src="../static/media/zairyou2_07.png" alt="zairyou2_07.png"/>

                <div class="material">
                    <p>トマト(中) : 1個</p>
                    <p>モッツァレラチーズ : 1袋</p>
                    <p>ベビーリーフ : 30g</p>
                    <p>ピエトロドレッシング : 大さじ2</p>
                </div>

            <p><img src="../static/media/0011.jpg" alt="0011.jpg"/><br><br>

            <p><img src="../static/media/tsukurikata2_10.png" alt="tsukurikata2_10.png"/></p>

                <div class="progression">
                    <p>トマトを切る
                        <p><img src="../static/media/0022.jpg" alt="0022.jpg"/></p>
                    </p>
                    <p>ベビーリーフを水洗いし、キッチンペーパーで水気を拭き取る
                        <p><img src="../static/media/0033.jpg" alt="0033.jpg"/></p>
                    </p>
                    <p>モッツァレラチーズをちぎる
                        <p><img src="../static/media/0044.jpg" alt="0044.jpg"/></p>
                    </p>　
                    <p>全部を容器に入れ混ぜる
                        <p><img src="../static/media/0055.jpg" alt="0055.jpg"/></p>
                    </p>
                    <p>完成!
                        <p><img src="../static/media/0066.jpg" alt="0066.jpg"/></p><br>
                    </p>
                </div>

                <div class="comment">
                    <p>どうでしたか？</p>
                    <p>簡単なので、15分もあればできちゃいます！</p>
                    <p>是非つくってみてくださいね♪</p><br><br>
                </div>

        </div>

    </div>
</body>
</html>