<!DOCTYPE html>
<html>
<head>
    <title>Coder</title>
    <meta charset="utf-8">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="../../../assets/stylesheets/index.css" media="screen" rel="stylesheet" type="text/css"/>
    <link href="../static/css/index.css" media="screen" rel="stylesheet" type="text/css"/>
    <script src="../static/js/index.js"></script>
</head>
<body>
    <div class="pagecontent">
      <div class="main">
      　<h2>簡単<font size="6" color="#f4b518">3</font>ステップで！！</h2>
        <h1 align="center">
            <font size="7" style="font-weight: bold;" color="#f4b518">スコーン</font>
        </h1>
        <h2><font color="#994409">材料</font></h2>
        <ul>
        　<li>ホットケーキミックス...200g</li>
        　<li>牛乳...70cc</li>
        </ul>
        <h2><font color="#994409">作り方</font></h2><br><br>

        <div class="recipe">
            <div class="recipe-item">
                <p class="item-photo"><img src="../static/media/133023_my_recipe_2_03.jpg" alt="koutei1"/></p>
                <p class="item-text">1. あらかじめオーブンを温めます。<br>材料すべてを袋に入れ、揉むように混ぜましょう。</p>
            </div><br>
            <div class="recipe-item">
                <p class="item-photo"><img src="../static/media/133023_my_recipe_2_07.jpg" alt="koutei2"/></p>
                <p class="item-text">2.まとまってきたら袋から取り出し好きな大きさ、形に整えます。</p>
            </div><br>
            <div class="recipe-item">
                <p class="item-photo"><img src="../static/media/133023_my_recipe_2_10.jpg" alt="koutei3"/></p>
                <p class="item-text">3.190℃のオーブンで20分焼いてできあがり！</p>
            </div><br>
            <div class="recipe-item">
                <p><img src="../static/media/photo.jpg" alt="phopo"/></p>
                <br><p><font size="6" color="#f4b518">完成！！</font></p>
            </div>
        </div><!-- /.recipe -->

    　</div>
    </div>
</body>
</html>