<!DOCTYPE html>
<html>
<head>
    <title>Coder</title>
    <meta charset="utf-8">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="../../../assets/stylesheets/index.css" media="screen" rel="stylesheet" type="text/css"/>
    <link href="../static/css/index.css" media="screen" rel="stylesheet" type="text/css"/>
    <script src="../static/js/index.js"></script>
</head>
<body class="body">
    <div class="pagecontent">
    <div class="main">

    <img  class="img" src="../static/media/img007.jpg" alt="img007.jpg"/>
    <h1 style="margin:0px auto 80px auto">ブリ ダイコン</h1>
    <span style="padding:5px; color:white; background:navy;">材料（４人分）</span>
    <ul class="lead">
    <li>ブリ　４切れ（300g）</li>
    <li>大根　1／５本（250g）</li>
    <li>シュンギク（ゆでる）　５本（150g）</li>
    <li>A　しょうゆ　大さじ1　1／３</li>
    <li style="margin:0px auto 0px 30px">みりん　大さじ２</li>
    <li style="margin:0px auto 0px 30px">酒　大さじ2</li>
    <li style="margin:0px auto 0px 30px">砂糖　大さじ1</li>
    <li style="margin:0px auto 0px 30px">だし汁　240ml</li>
    <li style="margin:0px auto 0px 30px">水　240ml</li>
    <li>しょうゆ　大さじ１</li>
    <li style="margin-bottom:80px">米のとぎ汁　適量</li>
    </ul>

        <span style="padding:5px; color:white; background:navy;">作り方</span>
        <ol>
        <img style="margin-top:0px" class="img" src="../static/media/img002.jpg" alt="img002.jpg" width="300"/>
        <li><h4>霜降りする</h4>
        ブリは食べやすい大きさに切る。鍋に湯を沸かしてブリを入れ、全体が白くなったら冷水にとり、汚れを落として水気を拭く。</li>
        <img class="img" src="../static/media/img003.jpg" alt="img003.jpg" width="300"/>
        <li><h4>ダイコンをゆでる</h4>
        ダイコンは厚めの輪切りにして皮を剥き、半分に切って面取りする。鍋にダイコンとかぶるくらいの米のとぎ汁を入れ、竹串がスッと通るまで8～10分ゆでて、ざるに上げる。</li>
        <img class="img" src="../static/media/img004.jpg" alt="img004.jpg" width="300"/>
        <li><h4>煮る</h4>
        鍋にAとブリを入れ、中火にかける。煮立ったらあくを取り、ダイコンを加える。落としぶたをして煮汁が半分になるくらいまで煮る。</li>
        <img class="img" src="../static/media/img005.jpg" alt="img005.jpg" width="300"/>
        <li><h4>仕上げる</h4>
        落としぶたを捨てしょうゆを加え、煮汁が３分の1程度になり、泡が大きくなるまで煮る。器に盛り、食べやすく切ったシュンギクを添える。</li>
        </ol>

            <img class="img" src="../static/media/img006.jpg" alt="img006.jpg" width="300"/>
            <p style="margin:20px auto auto 30px">落としぶたをして煮ると、味がよくなじみます<br>
                   落としぶたをすると煮汁が少なくても全体に回り、味がきちんとつきます。写真のようにクッキングシートを切って使うと手軽です。</p>

            　<img style="margin:80px auto 0px" src="../static/media/img001.jpg" alt="img001.jpg"/><br>
            <h4>バランスのよい献立</h4>
            <p style="padding-bottom:60px;">しっかりと味のしみた煮物には、まろやかな白和えや甘みのある煮豆を添えると、おいしく食べられます。副菜2品を添えるので、汁物はシンプルに。</p>
    </div>
    </div>
</body>
</html>