<!DOCTYPE html>
<html>
<head>
    <title>Coder</title>
    <meta charset="utf-8">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="../../../assets/stylesheets/index.css" media="screen" rel="stylesheet" type="text/css"/>
    <link href="../static/css/index.css" media="screen" rel="stylesheet" type="text/css"/>
    <script src="../static/js/index.js"></script>
</head>
<body>
    <div class="pagecontent">
        <div class="main">
            <h1 class="title">トマトソーススパゲッティの作り方 </h1>

            <h2> 材料　2人前 </h2>
            <ul>
            <li> スパゲッティ　200g </li>
            <li> ソーセージ　数本 </li>
            <li> なす　1本 </li>
            <li> ホールカットトマト　1缶 </li>
            <li> オリーブオイル　少量 </li>
            <li> ニンニク　1片 </li>
            <li> 塩、こしょう　少々 </li>
            </ul>
            <h2 class="caption">作り方</h2>


            <p class="photo"><img src="../static/media/01.jpg" alt="01"/></p>
            <p class="caption">材料一式　見本</p>

            <p class="photo"><img src="../static/media/04.jpg" alt="04"/></p>
            <p class="caption"> なすは適当の大きさに切ります。酸化が気になるなら、水に入ったボールにつけておく</p>

            <p class="photo"><img src="../static/media/08.jpg" alt="08"/></p>
            <p class="caption">ソーセージも一口くらいに切って、にんにくはいためるためにスライスする。</p>

            <p class="photo"><img src="../static/media/05.jpg" alt="05"/></p>
            <p class="caption">熱したフライパンに、オリーブオイルを少量入れ、ニンニクを加えます。ニンニクのいい香りが出てきたら、焦がさないうちに、ニンニクを取り出します。</p>

            <p class="photo"><img src="../static/media/09.jpg" alt="09"/></p>
            <p class="caption">なす、ソーセージをいため、しんなりとしてきたらホールカットトマトをあけて、フライパンに流し込みます。煮詰めすぎると汁気がなくなるのでパスタが茹で上がるまで火を止めておくといいでしょう。</p>

            <p class="photo"><img src="../static/media/10.jpg" alt="10"/></p>
            <p class="caption">表示通り7分ゆでたパスタを、水気を切って出来たトマトソースへいれて味が絡まるように混ぜます。味が物足りなかったら、お好みで塩とこしょうで味を整えます。</p>

            <p class="photo"><img src="../static/media/11.jpg" alt="11"/></p>
            <p class="caption">最後にお皿に盛りつけて完成！</p>
    　　　　
    　　　　</div>
</body>
</html>