<!DOCTYPE html>
<html>
<head>
    <title>Coder</title>
    <meta charset="utf-8">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="../../../assets/stylesheets/index.css" media="screen" rel="stylesheet" type="text/css"/>
    <link href="../static/css/index.css" media="screen" rel="stylesheet" type="text/css"/>
    <script src="../static/js/index.js"></script>
</head>
<body class="title">
    <div class="pagecontent font-weight:bold">
    <div class="main">
    <img src="../static/media/israisuresipi_02.png">
     <img src="../static/media/israisuresipi_04.png"><br>
     <div align="center"><h4 style="color:white; ">スペインの代表的な料理の１つパエリアは野菜、<br>
魚介類、肉などをたっぷり炊き込んだ料理です。<br>
見た目も色鮮やかで、
とてもおいしい料理です。<br></h4></div>
    <div class="materials">
        <img src="../static/media/israisuresipi_07.png">
         <div class="box cf">
        <div class="box-left">
        <ul>
            <li>お米　   ２合</li>
            <li>塩こしょう　   少々</li>
            <li>鶏もも肉　   300g</li>
            <li>エビ　   8尾</li>
            <li>イカ    1杯</li>
            <li>アサリ   200g</li>
            <li>玉ねぎ    1個</li>
            <li>アスパラ    2本</li>
            <li>赤パプリカ    1個</li>
            <li>白ワイン    50cc</li>
            <li>塩こしょう　   少々</li>
        </ul>
        </div><!-- /.box-left -->
    <div class="box-right">
        <ul>
            <li>オリーブオイル    大さじ2</li>
            <li>にんにく　   3cm</li>
            <li>バター    少々</li>
            <li>※チキンコンソメ    1個</li>
            <li>※水　   350cc</li>
            <li>※ターメリック　   少々</li>
            <li>※塩　   小さじ1</li>
            <li>パセリ　   飾り用</li>
            <li>レモン　   飾り用</li>
        </ul>
        </div><!-- /.box-left -->
    </div><!-- /.box.cf -->

    </div><!-- /.materials -->

    <div class="box cf">
        <div class="box-left">
            <img src="../static/media/israisuresipi_10.png">
        </div><!-- /.box-left -->
        <div class="box-right">
        <br><br>
            <ol>
                <li>※を合わせる</li>
                <li>赤パプリカ、アスパラを食べやすい大きさにカットする</li>
                <li>玉ねぎをみじん切りにする</li>
                <li>エビは殻をむかずしっぽと足をハサミで切る</li>
                <li>鶏肉も食べやすい大きさに切る。同様にイカも</li>
                <li>フライパンにバターをひいて鶏肉に塩こしょうをしてこんがり焼いていく（肉汁も入れるのでとっておく）</li>
                <li>同じフライパンで再度バターをひいてエビを色が変わるまで焼いていく</li>
                <li>↑朝までの下ごしらえ</li>
                <li>フライパンにオリーブオイルをひいてにんにく。玉ねぎのみじん切りを中火で透き通るまで炒める（油はねに注意）</li>
                <li>中火のままお米を加えて炒め少ししたら白ワインをいれてさらに炒める</li>
                <li>弱日にして用意しておいた※と鶏肉からでた肉汁も入れて弱火でじっくり炒める（少しだけ放置しておいても大丈夫）</li>
                <li>煮詰まってきて鍋の底がみえるくらいになったら火を止める
                <li>アサリ、エビ、イカ、鶏肉、赤パプリカ、アスパラを見た目よく並べる
                <li>追加で無図50ccをまわし入れて再び火をつけ弱火で15分（ラスト強火で10秒）火を止めて15分そのまま蒸らす</li>
                <li>ふたを開けてパセルをのせたら完成！</li>
            </ol>
        </div><!-- /.box-left -->
    </div><!-- /.box.cf -->

    <p><img src="../static/media/resipii_20.png"></p>

    </div>
</body>
</html>