<!DOCTYPE html>
<html>
<head>
    <title>Coder</title>
    <meta charset="utf-8">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="../../../assets/stylesheets/index.css" media="screen" rel="stylesheet" type="text/css"/>
    <link href="../static/css/index.css" media="screen" rel="stylesheet" type="text/css"/>
    <script src="../static/js/index.js"></script>
</head>
<body class="">
　<div class="pagecontent">
   <div class="main">

    <img src="../static/media/1.png"/>

    <img src="../static/media/2.png"/>

　  <img src="../static/media/3.png"/>
　
      <ol>
        <li>室温にもどしておいたクリームチーズをボウルに入れ、滑らかになるまでホイッパーで混ぜる。</li>
        <li>１に砂糖の半分を入れて混ぜ、卵黄を一個ずつ入れ混ぜ合わせる。</li>
　　 　 <li>生クリームと残り半分の砂糖を別のボウルに入れ、8～9分立てにする。ツノがたつ程度。<br>
　　 　 <img src="../static/media/4-2.png"/>
　　 　 </li>
　　 　
        <li>２のボウルに３の生クリームを一杯ホイッパーですくって均等に混ぜ合わせてから、残りの生クリームをすべて混ぜ合わせる。</li>
　　　  <li>☆の材料を合わせてコーヒー液を作る。　※自分の好みで苦さを調整してください。</li>
        <li>カステラの半分を敷きつめ(重なってもok)、上から５のコーヒー液の半分をスプーン等でかけ、染み込ませる。</br>
        <img src="../static/media/5.png"/>
        </li>

        <li>６に４で作ったクリームを半分入れる。</li>
        <li>工程６＆７をもう一度繰り返す。</li>
        <li>型にラップをして1時間程冷蔵庫で生地をなじませたら、上から純ココアをふるいにかけて完成。</br>
        <img src="../static/media/6-2.png"/>
        </li>
      </ol>

        <img src="../static/media/7_2.png">

        <p>クリームチーズに卵黄を混ぜる時は、少しずつ混ぜた方が分離しません。コーヒー液は食べる人の好みで苦さを調整してください。コーヒーとココアではなく、抹茶に変えて作ってみるのもおすすめです。</p>
        <img src="../static/media/8.png"/>
   </div>
</body>
</html>