<!DOCTYPE html>
<html>
<head>
    <title>Coder</title>
    <meta charset="utf-8">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.11/jquery.mousewheel.min.js"></script>
    <link href="../../../assets/stylesheets/index.css" media="screen" rel="stylesheet" type="text/css"/>
    <link href="../static/css/index.css" media="screen" rel="stylesheet" type="text/css"/>
    <script src="../static/js/index.js"></script>
</head>
<body>
    <div class="head1">
    <p><img id="top1" src="../static/media/top.jpg" alt="moju"></p>
    <p>
        <div class="head2">
        ▲
        </div>
        <div class="head3">
            <a href="./" coords="0">
                <img src="../static/media/button1.png" alt="hand">
            </a>
        </div>
        <div class="head2">
        ▼
        </div>
    </p>
    </div>
    <div class="frame">
        <div class="scene f1">&nbsp;</div>
        <div class="scene f2">&nbsp;</div>
        <div class="scene f3">&nbsp;</div>
        <div class="scene f4">&nbsp;</div>
        <div class="scene f5">&nbsp;</div>
        <div class="scene f6">&nbsp;</div>
        <div class="scene f7">&nbsp;</div>
        <div class="scene f8">&nbsp;</div>
        <div class="scene f9">&nbsp;</div>
        <div class="scene f10">&nbsp;</div>
        <div class="scene f11">&nbsp;</div>
        <div class="scene f12">&nbsp;</div>
        <div class="scene f13">&nbsp;</div>
        <div class="scene f14">&nbsp;</div>
        <div class="scene f15">&nbsp;</div>
        <div class="scene f16">&nbsp;</div>
        <div class="scene f17">&nbsp;</div>
        <div class="scene f18">&nbsp;</div>
        <div class="scene f19">&nbsp;</div>
        <div class="scene f20">&nbsp;</div>
        <div class="scene f21">&nbsp;</div>
        <div class="scene f22">&nbsp;</div>
    </div>
</body>
</html>