<!DOCTYPE html>
<html>
<head>
    <title>Coder</title>
    <meta charset="utf-8">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="../../../assets/stylesheets/index.css" media="screen" rel="stylesheet" type="text/css"/>
    <link href="../static/css/index.css" media="screen" rel="stylesheet" type="text/css"/>
    <script src="../static/js/index.js"></script>
</head>
<body class="back">
    <div class="pagecontent">
        <div class="main">
            <img src="../static/media/finishedtop.png" />
        　  <div class="title"><img src="../static/media/title.png"/></div>
        　  <div class="texttop"><img src="../static/media/text_top.png"/></div>
            <div class="mg"><img src="../static/media/material_green.png"/></div>
            <div class="material"><img src="../static/media/material_.png"/></div>
            <div class="step"><img src="../static/media/step_red.png"/></div>
            <div class="stepa"><img src="../static/media/1.png"/></div>
            <div class="recipe"><img src="../static/media/recipe.png"/></div>
            <div class="recipetext"><img src="../static/media/text_step1.png"/></div>
            <div class="stepi"><img src="../static/media/2.png"/></div>
            <div class="recipe2"><img src="../static/media/recipe2.png"/></div>
            <div class="recipetext2"><img src="../static/media/text_step2.png"/></div>
            <div class="stepu"><img src="../static/media/3.png"/></div>
            <div class="recipe3"><img src="../static/media/recipe3.png"/></div>
            <div class="recipetext3"><img src="../static/media/text_step3.png"/></div>
            <div class="stepe"><img src="../static/media/4.png"/></div>
            <div class="recipe4"><img src="../static/media/recipe4.png"/></div>
            <div class="recipetext4"><img src="../static/media/text_step4.png"/></div>
            <div class="yerrow"><img src="../static/media/yerrow.png"/></div>

        </div>
    </div>
</body>
</html>