<!DOCTYPE html>
<html>
<head>
    <title>My Recile</title>
    <meta charset="utf-8">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="../../../assets/stylesheets/index.css" media="screen" rel="stylesheet" type="text/css"/>
    <link href="../static/css/index.css" media="screen" rel="stylesheet" type="text/css"/>
    <script src="../static/js/index.js"></script>
</head>
<body class="">
    <div class="pagecontent">

    <div class="main">

        <div class="top cf">
            <div class="tople">
                <img src="../static/media/tomato0.jpg" alt="完成図">
            </div>
            <div class="topri">
                <div class="toprto">
                    <img src="../static/media/title.png" alt="トマトのマリネ">
                </div>
                <div class="toprbo">
                    <h2>材料</h2>
                   <ul>
                        <li>トマト　-２個</li>
                       <li>たまねぎ　-４／１個</li>
                        <li>パセリ　<br>-みじん切り（１本分）</li>
                        <li>酢　-大さじ１</li>
                        <li>砂糖　-小さじ２</li>
                        <li>塩　-小さじ２／１</li>
                        <li>胡椒　-少々</li>
                     <li>オリーブオイル　<br>-小さじ２</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="box cf">
            <div class="boxle">
                <div class="boxlto">
                    <img src="../static/media/recipe1.png" alt="切る">
                </div>
                <div class="boxlbo">
                    玉ねぎ1/4は横半分にし端からスライス、水にさらしておきます。<br>
                    トマトは大き目にざく切りします。
                </div>
            </div>
            <div class="boxri">
                <img src="../static/media/tomato1.jpg" alt="レシピ１">
            </div>
        </div>

        <div class="box cf">
            <div class="boxle">
                <div class="boxlto">
                    <img src="../static/media/recipe2.png" alt="和える">
                </div>
                <div class="boxlbo">
                    ボウルに調味料を合わせます。オイルはオリーブでもサラダ油でもお好みのもので！<br>
                    切った野菜を加えてざっくりと混ぜます。
                </div>
            </div>
            <div class="boxri">
                <img src="../static/media/tomato2.jpg" alt="レシピ２">
            </div>
        </div>

        <div class="box cf" style="margin: 45px 0px 75px 0px">
            <div class="boxle">
                <div class="boxlto">
                    <img src="../static/media/recipe3.png" alt="冷やす">
                </div>
                <div class="boxlbo">
                    食べる直前まで冷蔵庫で冷やして！ 砂糖や酢はお好みで調整してください。
                </div>
            </div>
            <div class="boxri">
                <img src="../static/media/tomato3.jpg" alt="レシピ３">
            </div>
        </div>

    </div>
    </div>
    <!--
    style="font-size: 40px; color: #ffffff background-color: #e52d2d;"
    !-->
</body>
</html>