<!DOCTYPE html>
<html>
<head>
    <title>Coder</title>
    <meta charset="utf-8">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="../../../assets/stylesheets/index.css" media="screen" rel="stylesheet" type="text/css"/>
    <link href="../static/css/index.css" media="screen" rel="stylesheet" type="text/css"/>
    <script src="../static/js/index.js"></script>
</head>
<body >
<br>

    <div class="pagecontent">
    <div class="main">
      <h1>ハンバーグ</h1>

       <p class="top"><img src="../static/media/material1.png"alt="hamburger"/></p>
       <h2 >（材料）</h2>
       <div class="boxess cf">
       <div class="boxx">
       <p><img src="../static/media/material6.png"alt="hikiniku"/></p>
      </div>
      <ul class="read">
              <li >合いびき肉　500ｇ</li>
              <li>牛乳　大さじ2</li>
              <li>玉ねぎ　1/2個</li>
              <li>パン粉　1/2カップ</li>
              <li>塩、胡椒、ナツメグ　適量</li>
              <li>卵　1個</li>
      </ul>
      </div>
       <h2>（作り方）</h2>

      <div class="boxes cf">

        <div class="box">
        <p><img src="../static/media/material2.png"alt="onion"/></p>
             　①玉ねぎをみじん切りにする。
        </div>
        <div class="box">
        <p><img src="../static/media/material3.png"alt="koneru"/></p>
              ②ボウルにすべての材料を入れ　こねる
        </div>
        <div class="box">
        <p><img src="../static/media/material4.png"alt="seikei"/></p>
             ③成形する
        </div>
        <div class="box">
        <p><img src="../static/media/material5.png"alt="yaku"/></p>
             ④フライパンで焼きめをつけてからグリルで10分～15分焼く。
        </div>
        <div class="box">
        <p><img src="../static/media/material8.png"alt="sosu"/></p>
             ⑤肉汁、ケチャップ、ソースを合わせてソースを作る。
        </div>
        <div class="box">
        <p><img src="../static/media/material7.png"alt="kansei"/></p>
              ⑥ハンバーグをお皿に盛りつけソースをかけて完成

        </div>

      </div>

     </div>

    </div>
    <br>

</body>
</html>