<!DOCTYPE html>
<html>
<head>
    <title>Coder</title>
    <meta charset="utf-8">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="../../../assets/stylesheets/index.css" media="screen" rel="stylesheet" type="text/css"/>
    <link href="../static/css/index.css" media="screen" rel="stylesheet" type="text/css"/>
    <script src="../static/js/index.js"></script>
</head>
<body >
    <div class="pagecontent">
      <div class="main">


        <center>
        <img src="../static/media/midashi2.png" alt="000"/>

        <span style="line-height:16px;"> </span>

        <p style="margin-top:50px;"><img src="../static/media/01.jpg" alt="01" /></p>

        <hr style="border-top: 2px dashed #d2b48c ;width: 100%;">






        <h2 style=" font-size:30px;
        border-style: solid ; border-width: 1px;
        padding: 10px 10px 10px 10px ;
        color: black; background-color: white; width: 150px;">材料</h2>


        </center>

        <p><img src="../static/media/02.jpg" alt="02"/></p>

        <div style="border: #d2b48c 2px dashed; border-width: 3px;
        padding: 30px; margin:30px; background-color:#ffffff;">
        <div style="margin-top:60px;"><img src="../static/media/straight_hanten.png"
        align="left" ></div>

        <Ul>
    　	　　<li style=" margin-bottom:-15pt;" >油大さじ2</li>
    　　　　<li >にんにく 大さじ1（みじんぎり）</li>
    		<li >生姜 大さじ1（みじんぎり）</li>
    		<li >たまねぎ 2個</li>
    		<li >牛ひき肉 400g</li>
    		<li >胡椒 小さじ1/2</li>
    		<li >塩 小さじ1</li>
    		<li >ヨーグルト大さじ2</li>
    		<li>トマトペースト大さじ1</li>
    		<li>ガラムマサラ 大さじ2</li>
    		<li>カイエンペッパー 小さじ1〜</li>
    		<li>チリペッパー 小さじ1〜</li>
    		<li>クミン 小さじ1</li>
    		<li>クローブ 小さじ1/2</li>
    		<li>ターメリック 小さじ01/2</li>
    		<li>ベイリーフ 1〜2枚</li>
    		<li >水 1/4カップ</li>

        </ul>
　　　　</div>
　　　　

       <center>
        <h2 style=" font-size:30px;
        border-style: solid ; border-width: 1px;
         padding: 10px 10px 10px 10px ;
         color: black; background-color: white; width: 150px;">作り方</h2>
       </center>


        <h1 ><font size="5">STEP1:香味野菜を炒める</h1></font>
        <p>
        <img src="../static/media/03.jpg" alt="03"/>
        </p>
        <p style=" margin-bottom:80pt; font-family:serif;" >
        油を入れて熱したフライパンに生姜とにんにくを入れ、弱火に落とす。
        <br>香りが立ったらたまねぎを入れて弱〜中火で炒める。
        <br>たまねぎの色が変わるまでじっくり炒めると甘みとコクが増す。お好みで調整する。
        </p>

        <h1><font size="5">STEP2：肉を炒める</h1></font>
        <p><img src="../static/media/04.jpg" alt="04"/></p>
        <p style=" margin-bottom:80pt; font-family:serif;" >肉と塩胡椒を加え、炒める。</p>


        <h1><font size="5">STEP3：トマトペーストとヨーグルトを加える</h1></font>
        <p><img src="../static/media/05.jpg" alt="05"/></p>
        <p style=" margin-bottom:80pt; font-family: serif;">肉に火が通ったら、トマトペーストとヨーグルトを加え、沸騰したら火加減を弱める。</p>

        <h1><font size="5">STEP4：スパイスを入れる</h1></font>
        <p><img src="../static/media/check.png" align="left"　alt="06"/></p>
        <p style="margin-bottom:80pt; font-family: serif;">ベイリーフ以外のスパイスをすべて加えて炒める。<br>
        ガラムマサラとはインドのミックススパイスのこと。<br>主な原料はシナモン、クローブ、ナツメグ、カルダモン、クミンなどですが、
        メーカーによって違うためカレー粉で代用しても構わない。<br>カイエンペッパーやチリペッパーの量は好みの辛さによって調整する。</p>

        <h1><font size="5">STEP5：ペイリーフと水を入れて煮込む</h1></font>
        <p><img src="../static/media/05.jpg" alt="07"/></p>
        <p style=" margin-bottom:80pt; font-family:serif;">ベイリーフと水を入れてかき混ぜてから、強火で水分を飛ばす。<br>
        一度水を入れることで味を均等に整える。</p>

        <center>
        <h2 style=" font-size:30px;
        border-style: solid ; border-width: 1px;
         padding: 10px 10px 10px 10px ;
         color: black; background-color: white; width: 150px;">出来上がり</h2>
        </center>



        <div style="position:relative; left:250px;">
        <p><img src="../static/media/clap.png" alt="08"></p>
        </div>

        <p><img src="../static/media/07.jpg" alt="09"/>
        </p>




















    </div>
</body>
</html>