<!DOCTYPE html>
<html>
<head>
    <title>Coder</title>
    <meta charset="utf-8">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="../../../assets/stylesheets/index.css" media="screen" rel="stylesheet" type="text/css"/>
    <link href="../static/css/index.css" media="screen" rel="stylesheet" type="text/css"/>
    <script src="../static/js/index.js"></script>
</head>
<body class="">
    <div class="pagecontent">
    <div class="main">

       <img src="../static/media/recipe_5_1.png" alt="5">

       <div style="position: relative;">
       <img src="../static/media/fe_y.png" alt="下地" />
       <img src="../static/media/piyo_r.png" alt="こっこ" style="position:absolute; top:0px; left:75.5px;"/>
       </div>

       <h1 style="font-family:'Arial’; font-weight:bold;">たまごやき</h1><br>

       <div style="position: relative;">
       <img src="../static/media/fe_y.png" alt="下地" />
       <img src="../static/media/piyo_l.png" alt="こっこ" style="position:absolute; top:0px; left:75.5px;"/>

       <h2><p><strong>材料〔1人分〕</strong></p></h2>

       <dl class="materials">
       <dt>卵</dt>
       <dd><strong>2個</strong></dd>
       <dt>砂糖</dt>
       <dd><strong>大さじ1</strong></dd>
       <dt>だし汁</dt>
       <dd><strong>50cc</strong></dd>
       <dt>・水</dt>
       <dd>50cc</dd>
       <dt>・本ダシ</dt>
       <dd>小さじ1</dd><br>
       </dl>

       <img src="../static/media/fe3.png" alt="FE3"/>

       <h2><strong>作り方</strong></h2><br>

       <img src="../static/media/recipe_1_1.png" alt="1"/>
       <div class="p">
       <p style="text-indent: -215pt;">
       1:
       </p>
       <p>
       だし汁を煮立てて、砂糖を入れて溶かす。
       </p>

       <img src="../static/media/recipe_2_2.png" alt="2"/>
       <p style="text-indent: -47pt;">
       2:
       </p>
       <p>
       卵をとく。
       </p>

       <img src="../static/media/recipe_3_3.png" alt="3"/>
       <p style="text-indent: -238pt;">
       3:
       </p>
       <p>
       だし汁が冷めたら、といた卵と一緒に混ぜる。
       </p>

       <img src="../static/media/recipe_4_4.png" alt="4"/>
       <p style="text-indent: -119pt;">
       4:
       </p>
       <p>
       厚焼き卵の要領で焼く。
       </p>
       </di>

       <div style="position: relative;">
       <img src="../static/media/fe_y.png" alt="下地の画像" />
       <img src="../static/media/piyo_r.png" alt="重ねる画像" style="position:absolute; top:0px; left:75.5px;"/>
       </div>

    </div>
    </div>
</body>
</html>